.advantages {
  max-width: $content-desktop-width;
  min-width: $content-mobile-width;
}

.advantages__list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 1175px;
  padding-left: 5px;
  padding-top: 93px;
}

.advantages__item {
  box-sizing: border-box;
  padding-top: 39px;
  padding-left: 42px;
  padding-right: 43px;
  margin-bottom: 30px;
  width: calc(50% - 30px);
  min-height: 256px;
  background-color: $background-white;
  border: 1px solid $border-gray;
  border-left: 3px solid $border-blue;
}

.advantages__item--confidentiality {
  padding-top: 44px;
}

.advantages__icon {
  fill: $font-blue;
  margin-bottom: 15px;
}

.advantages__title {
  margin-bottom: 15px;
  margin-top: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  color: $font-blue;
}

.advantages__text {
  margin-top: 0;
  margin-bottom: 66px;
}

.advantages__item:hover {
  background-color: $background-lite-blue;
  color: $font-white;
  cursor: pointer;
}

.advantages__item:hover .advantages__title {
  color: $font-white;
}

.advantages__item:hover .advantages__icon {
  fill: $font-white;
}

@media (max-width: $tablet-width) {
  .advantages__list {
    padding-top: 41px;
  }

  .advantages__item {
    padding-top: 23px;
    padding-left: 24px;
    padding-right: 19px;
    margin-left: 0;
    margin-bottom: 30px;
    min-height: 206px;
    border-left: 2px solid $border-blue;
  }

  .advantages__item--confidentiality {
    padding-top: 23px;
  }

  .advantages__icon {
    fill: $font-blue;
    margin-bottom: 4px;
  }

  .advantages__title {
    margin-bottom: 7px;
    margin-top: 0;
  }

  .advantages__text {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: $mobile-width) {
  .advantages__list {
    width: 100%;
    padding-left: 0;
    padding-top: 21px;
  }

  .advantages__item {
    padding-top: 24px;
    padding-left: 22px;
    padding-right: 15px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
    min-height: 206px;
  }

  .advantages__item:nth-child(2n) {
    margin-left: 0;
  }

  .advantages__item--confidentiality {
    padding-top: 23px;
  }

  .advantages__icon {
    fill: $font-blue;
    margin-bottom: 7px;
  }

  .advantages__title {
    margin-bottom: 7px;
    padding-right: 5px;
    margin-top: 0;
    font-size: 20px;
    line-height: 140.62%;
  }

  .advantages__text {
    margin-top: 0;
    margin-bottom: 25px;
  }
}
