.site-nav {
  width: 43%;
}

.site-nav__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $font-dark-blue;
}

.site-nav__list {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

.site-nav__item {
  width: calc(50% - 65px);
  padding-right: 65px;
}

.site-nav__link {
  font-size: 15px;
  line-height: 25px;
  color: $font-dark-blue;
  opacity: 0.5;
  text-decoration: none;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: $font-blue;
  opacity: 1;
}

@media (max-width: $tablet-width) {
  .site-nav {
    width: 355px;
    padding-left: 10px;
    margin-left: auto;
  }

  .site-nav__item {
    width: 100%;
  }

  .site-nav__item:nth-child(2n) {
    order: 2;
  }
}

@media (max-width: $mobile-width) {
  .site-nav {
    width: 100%;
    padding-left: 0;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid fade-out($border-dark-gray, 0.2);
  }

  .site-nav__title {
    width: $content-mobile-width;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .site-nav__list {
    width: $content-mobile-width;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .site-nav__item {
    width: 100%;
  }
}
