.copyright {
  margin-top: 55px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid fade-out($border-dark-gray, 0.2);
}

.copyright__link {
  text-decoration: none;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $font-dark-blue;
  opacity: 0.5;
}

.copyright__link:hover,
.copyright__link:focus {
  color: $font-blue;
}

.copyright__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright__wrapper:nth-child(2n) {
  width: 32%;
  margin-right: auto;
}

.copyright__wrapper:nth-child(2n - 1) {
  width: 58%;
}

@media (max-width: $tablet-width) {
  .copyright {
    margin-top: 33px;
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .copyright__wrapper:nth-child(2n - 1) {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .copyright__link--rights {
    display: none;
  }

  .copyright__link--date {
    position: absolute;
    max-width: 234px;
    top: 35px;
    left: 50%;
    margin-left: -57px;
  }
}

@media (max-width: $mobile-width) {
  .copyright {
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 0;
  }

  .copyright__wrapper:nth-child(2n - 1) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .copyright__link {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .copyright__link--date {
    top: 125px;
    margin-right: 0;
    left: 50%;
    margin-left: -117px;
  }
}
