.page-main {
  background-image: url("../img/main-desctop.png");
  background-position: center 532px;
  background-repeat: no-repeat;
}

@media (max-width: $tablet-width) {
  .page-main {
    background-image: url("../img/main-tablet.png");
  }
}

@media (max-width: $mobile-width) {
  .page-main {
    background-image: none;
  }
}
